.button {
    border: none;
}

.button:hover {
    cursor: pointer;
}

.number {
    background-color: #615868;
    color: white;
    height: 30px;
    width: 30px;
}

.number0{
    background-color: #615868;
    color: white;
    height: 30px;
    width: 60px;
}

.symbol {
    background-color: #423A41;
    color: white;
    height: 30px;
    width: 30px;
}

.symbolAccent {
    background-color: #FF9429;
    color: white;
    height: 30px;
    width: 30px;
}


    
