.button {
    border: none;
}

.button:hover {
    cursor: pointer;
}

.number {
    background-color: #615868;
    color: white;
    height: 2rem;
    width: 24%;
}

.number0{
    background-color: #615868;
    color: white;
    height: 2rem;
    width: 48%;
    border-bottom-left-radius: 2px;
}

.symbol {
    background-color: #423A41;
    color: white;
    height: 2rem;
    width: 24%;
}

.symbolAccent {
    background-color: #FF9429;
    color: white;
    height: 2rem;
    width: 24%;
}


    
